{
    "presets": [
        ["@babel/preset-env",{
            "targets":{
                "node":"current"
            }
        }]
    ],
    "plugins":[
        "@babel/proposal-class-properties"
    ]//解决箭头函数这些
}